/*Add CSS styles here*/
#map {    
    height: 400px;    
    width: 80%;
    display: inline-block;
    }

    #panel {  
        width: 25%;  
        padding: 10px;  
        display: inline-block;  
        vertical-align: top;  
        text-align: center;  
        line-height: 42px;  
    }  
    
    .range-slider {  
        width: 100%;  
    }  
    
    .step {  
        width: 20%;  
    }  
    
    .step img {  
        width: 25%;  
    }  
    
    #forward {  
        float: right;  
    }  
    
    #reverse {  
        float: left;  
    }